@bg: #ffffff;
@blue: #1a82d2;
.bg-fff {
    background: white;
}

.hover {
    background-color: #f1f1f1;
}

.page-view {
    width: 100vw;
    height: 100vh;
    background: @bg;
}
.flex-r{
    display: flex;
    align-items: center;
}
.y-money:before{
    content: "￥";
    font-size: 12px;
}